@{
	ViewData["Title"] = "Chroy";
}

<main role="main" class="inner cover">
	<h1 class="cover-heading">ChRoy®</h1>
	@*<div class="lead" style="margin-bottom: 2rem;">
		GUARANTEED DESIGN SINCE 1972
	</div>
	<div class="lead">
		Telefono: <a href="tel:+0393349065896">+039 3349065896</a>
	</div>*@
</main>
